body {
	margin:0;
	font-family: Ms Trebuchet;

}

#logo {
	height: 150px;
	widows: 150px;
	border-radius: 50px;
	
}

h1 {
	font-weight: 100;


}
#container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh
	
	}
